
 <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
    <form name="myform" ng-submit="myform.$valid && submitForm(contact)" novalidate>
        <div class="form-group">
             <label for="name">Name</label>
             <input id="name" name="name" class="form-control" ng-model="contact.name"  required> <br>
             <span ng-messages="myform.name.$error" ng-show="myform.$submitted || myform.name.$touched">
          <span class="text-danger" ng-message="required">Name is compulsory</span>
          <!-- <ng-message when="pattern">first letter must be capital</ng-message> -->
             </span>
        </div>
        <div class="form-group">
             <label for="phone">Phone no</label>
            <input id="phone"  name="phone" class="form-control" ng-model="contact.phno" minlength="10" maxlength="10" pattern="^[789]\d{9}$" required> <br>
            <span ng-messages="myform.phone.$error" ng-show="myform.$submitted ||myform.phone.$touched">  
                    <span class=" text-danger" ng-message="required">Phone number is required</span>
                    <span class="text-danger" ng-message="minlength">Phone number should have atleast 10 digits</span>
                    <ng-message when="pattern">Invalid Format</ng-message>
                </span>
            </div>  
            <div class="form-group">
                    <label for="email">Email</label>
                   <input id="email"  name="email" class="form-control" ng-model="contact.email" type="email" required> <br>
                   <span ng-messages="myform.email.$error" ng-show="myform.$submitted ||myform.email.$touched">  
                           <span class=" text-danger" ng-message="required">email is required</span>
                           <ng-message when="email">Invalid Email</ng-message>
                     </span>
                   </div>
                   <div class="form-group">
                        <label for="Address">Address</label>
                       <input id="Address"  name="Address" class="form-control" ng-model="contact.address"  required> <br>
                       <span ng-messages="myform.Address.$error" ng-show="myform.$submitted ||myform.Address.$touched">  
                               <span class=" text-danger" ng-message="required">Address is required</span>
                              
                         </span>
                       </div> 
    <button  class="btn btn-primary">Save</button>
        </form>
       
    </div>
    </div>
    </div