const app=angular.module('myapp',['ngRoute','ngMessages']);
app.config(function($routeProvider,$locationProvider){
    $routeProvider.when('/add',{
        templateUrl:'views/add.html',
        controller:'AController'
    });
    $routeProvider.when('/',{
        templateUrl:'views/show.html',
        controller:'AController'
	});
	$routeProvider.when('/particular/:id',{
        templateUrl:'views/particular.html',
        controller:'view'
	});
	$routeProvider.when('/deleteContact/:id',{
        templateUrl:'views/show.html',
        controller:'deleteController'
	});
	$routeProvider.when('/update/:id',{
        templateUrl:'views/add.html',
        controller:'updateController'
	});
	$routeProvider.when('/404',{
		templateUrl:'views/404.html'
	});
	$routeProvider.otherwise({
		redirectTo:'views/404.html'
	})
	
	
	// $locationProvider.html5Mode(true);
	
})

app.controller('AController',function($scope,$location,$http, $rootScope){
	var refresh=function(){
		$http({
			url:'https://zenways-contact.herokuapp.com/api/contacts',
			headers:{
				key:'ZENWAYS01AYESHA01'
			}
		}
		).then(function(response){
			 console.log(response.data);
			
			$scope.contacts=response.data.contacts},
			function( response){
				console.log(response);
				})
				
	}
	refresh();
	$scope.submitForm=function (contact){	
		$http( {
			url:'https://zenways-contact.herokuapp.com/api/contact',
		    headers:{
				key:'ZENWAYS01AYESHA01',
				'content-type':'application/json'
			},
			data:JSON.stringify($scope.contact),
		 method:'POST'
		}).then(function(response){
            refresh();
            $scope.contact={}
			console.log(response);
            alert('Successfully Added Contact')
        },function(response){
            console.log(response);
            alert('Something went wrong');
        });
	
	
	 }
	}
)	
	
	
	
app.controller('view',function($scope, $routeParams, $http){
	var id=$routeParams.id
	console.log(id)
	$http({
		url:'https://zenways-contact.herokuapp.com/api/contact/'+id,
		headers:{
			key:'ZENWAYS01AYESHA01'
		},
		data:$scope.contact
	}).then(function(response){
		$scope.contact=response.data.contact;
		console.log(response);
	},function(response){
		console.log(response);
		console.log("Error");
	});
	
})
// delete controller
app.controller('deleteController',function($scope,$http,$routeParams){
	var id=$routeParams.id;
	if(confirm( 'Are you sure'))
		{
				$http({
					url: 'https://zenways-contact.herokuapp.com/api/contact/'+id,
					headers:{
				key:'ZENWAYS01AYESHA01'
			},
					method:'DELETE'
				 }).then(function(response){
				refresh();
				console.log(response);
				},function(response){
				console.log(response);
				alert('something went wrong');
				})	
		}	
	

})
// edit controller
app.controller('updateController',function($scope,$http,$routeParams){
	var id=$routeParams.id;
	console.log(id);
	$http({
		url:'https://zenways-contact.herokuapp.com/api/contact/'+id,
		headers:{
			key:'ZENWAYS01AYESHA01'
		},
		data:$scope.contact
	}).then(function(response){
		$scope.contact=response.data.contact;
		console.log($scope.contact);
	},function(response){
		console.log(response);
		console.log("Error");
	});//particular  api 

	$scope.submitForm=function (contact){
			$http({
				url:'https://zenways-contact.herokuapp.com/api/contact/'+contact._id ,
				headers:{
					key:'ZENWAYS01AYESHA01'
				},
				method:'PUT',
				data:$scope.contact
		}).then(function(response){
			$scope.contact={};
			console.log(response);
		},function(response){
			console.log(response)
			alert('something went wrong');
		})//edit api
	}
		

})







<div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                    <table class="table table-hover" >



                            <thead>
                            <tr>
                                <!-- <th>S.no.</th> -->
                                <th>Name</th>
                                <th>Phone no</th>
                                <th>Email</th>
                                <th>Address</th>
                                </tr>
                            </thead>
                                <tbody ng-repeat="contact in contacts | orderBy:'name'">
                                <tr>
                                    <!-- <td>{{$index+1}}</td> -->
                                    <td><i class="glyphicon glyphicon-user"></i>{{contact.name}}</td>
                                    <td><i class="glyphicon glyphicon-phone"></i>{{contact.phno}}</td>
                                    <td><i class="glyphicon glyphicon-tag"></i> {{contact.email}}</td>
                                    <td>{{contact.address}}</td>
                                    <td><a href="#!/deleteContact/{{contact._id}}"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="button" ><i class="glyphicon glyphicon-trash"></i> Delete</button></a></td>
                                    <!-- <td><a href="#!/update/{{contact._id}}"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="button"><i class="glyphicon glyphicon-transfer"></i> Update</button></a></td> -->
                                    <!-- <td><a  href="#!/particular/{{contact._id}}" ><button type="button"><i class="material-icons">visibility</i></button></a>
                                        </td> -->
                                        <td><a href="#!/particular/{{contact._id}}"> 
                                                <i class="material-icons">visibility</i>
                                            </a></td>
                                </tr>
                                </tbody>
                            </table>
            </div>        
        </div>    
</div>    




<div style="width:900px; margin:0 auto;">
		<div class="card">
				<img class="img_cl" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
				<h1 class="h">{{contact.name}}</h1>
				<p class="pr"><b>Phone no :</b>{{contact.phno}}<br>
			  <b> Email : </b>{{contact.email}}<br>
		   <b>Address: </b>{{contact.address}}</p><br>
		   <!-- <a href="#!/update/{{contact._id}}"><button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" type="button"><i class="material-icons">border_color</i></button></a> -->
			  </div>    
			  </div>
			  <!-- <a href="/"> <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" type="button">
				<i class="material-icons">keyboard_arrow_right</i>
			  </button></a> -->
			  <a href="#!/update/{{contact._id}}"><button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" type="button"><i class="material-icons">border_color</i></button></a>
			  <br>
			  <br>
		
		<div class="container">  
		  <div class="row">
		<div class="col-sm-7 col-sm-offset-3">
		  <!-- <img width="500" src="https://maps.googleapis.com/maps/api/staticmap?center=Delhi,gurgoan&zoom=17&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true" alt="Google Map of Delhi,gurgoan"> -->
		  <a href="https://www.google.com/maps/place/Delhi,gurgoan/"><img src="https://maps.googleapis.com/maps/api/staticmap?center=Delhi,gurgoan&zoom=17&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true" alt="Google Map of Delhi,gurgoan"></a>
		  <!-- <a href="https://www.google.com/maps/dir//Delhi,gurgoan/"><img src="https://maps.googleapis.com/maps/api/staticmap?center=Delhi,gurgoan&zoom=17&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true" alt="Google Map of Delhi,gurgoan"></a> -->
		
		</div>
		</div>
		</div>





		const app=angular.module('myapp',['ngRoute','ngMessages']);
		app.config(function($routeProvider,$locationProvider){
			$routeProvider.when('/add',{
				templateUrl:'views/add.html',
				controller:'AController'
			});
			$routeProvider.when('/',{
				templateUrl:'views/show.html',
				controller:'AController'
			});
			$routeProvider.when('/particular/:id',{
				templateUrl:'views/particular.html',
				controller:'view'
			});
			$routeProvider.when('/deleteContact/:id',{
				templateUrl:'views/show.html',
				controller:'deleteController'
			});
			$routeProvider.when('/update/:id',{
				templateUrl:'views/add.html',
				controller:'updateController'
			});
			$routeProvider.when('/404',{
				templateUrl:'views/404.html'
			});
			$routeProvider.otherwise({
				redirectTo:'views/404.html'
			})
			
			
			// $locationProvider.html5Mode(true);
			
		})
		
		app.controller('AController',function($scope,$location,$http, $rootScope){
			var refresh=function(){
				$http({
					url:'https://zenways-contact.herokuapp.com/api/contacts',
					headers:{
						key:'ZENWAYS01AYESHA01'
					}
				}
				).then(function(response){
					 console.log(response.data);
					
					$scope.contacts=response.data.contacts},
					function( response){
						console.log(response);
						})
						
			}
			refresh();
			$scope.submitForm=function (contact){	
				$http( {
					url:'https://zenways-contact.herokuapp.com/api/contact',
					headers:{
						key:'ZENWAYS01AYESHA01',
						'content-type':'application/json'
					},
					data:JSON.stringify($scope.contact),
				 method:'POST'
				}).then(function(response){
					refresh();
					$scope.contact={}
					console.log(response);
					alert('Successfully Added Contact')
					$location.path('/');
				},function(response){
					console.log(response);
					alert('Something went wrong');
				});
			
			
			 }
			}
		)	
			
			
			
		app.controller('view',function($scope, $routeParams, $http){
			var id=$routeParams.id
			console.log(id)
			$http({
				url:'https://zenways-contact.herokuapp.com/api/contact/'+id,
				headers:{
					key:'ZENWAYS01AYESHA01'
				},
				data:$scope.contact
			}).then(function(response){
				$scope.contact=response.data.contact;
				console.log(response);
			},function(response){
				console.log(response);
				console.log("Error");
			});
			
		})
		// delete controller
		app.controller('deleteController',function($scope,$http,$routeParams,$location){
			var id=$routeParams.id;
			if(confirm( 'Are you sure'))
				{
						$http({
							url: 'https://zenways-contact.herokuapp.com/api/contact/'+id,
							headers:{
						key:'ZENWAYS01AYESHA01'
					},
							method:'DELETE'
						 }).then(function(response){
							 $location.path('/');
						refresh();
						console.log(response);
						},function(response){
						console.log(response);
						alert('something went wrong');
						})	
				}	
		
		} )
		// edit controller
		app.controller('updateController',function($scope,$http,$routeParams,$location){
			var id=$routeParams.id;
			
			
			console.log(id);
			$http({
				url:'https://zenways-contact.herokuapp.com/api/contact/'+id,
				headers:{
					key:'ZENWAYS01AYESHA01'
				},
				data:$scope.contact
			}).then(function(response){
				$scope.contact=response.data.contact;
				console.log($scope.contact);
			},function(response){
				console.log(response);
				console.log("Error");
			});//particular  api 
		
			$scope.submitForm=function (contact){
					$http({
						url:'https://zenways-contact.herokuapp.com/api/contact/'+contact._id ,
						headers:{
							key:'ZENWAYS01AYESHA01'
						},
						method:'PUT',
						data:$scope.contact
				}).then(function(response){
					$scope.contact={};
					console.log(response);
					$location.path('/')
				},function(response){
					console.log(response)
					alert('something went wrong');
				})//edit api
			}
				
		
		})
		
		